* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

body {
  margin: 2em;
  background: #aeaebb;
}

#main {
  margin: 1em;
  background: #fff;
  padding: 1em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}

p {
  margin: 1em;
}

ul, ol {
  margin-left: 3em;
}